*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

button{
    color:white;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 99px;
}

button:hover{
    cursor: pointer;
    background-color: darkred;
}
